body {
}

.div980 {
    width: 980px;
    margin: auto auto auto auto;
    text-align: center;
}

.lblBig {
    margin: 0px 5px 5px 5px;
    padding: 10px 0 10px 0;
    text-align: left;
}

.txtBig {
    margin: 5px 5px 5px 5px;
    padding: 10px 10px 10px 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #515151;
}

    .txtBig:hover {
        border: 1px solid red;
    }

.btnBig {
    margin: 10px 5px 10px 10px;
    color: #FFFFFF;
    /*padding: .5em .5em;*/
    border-radius: 3px;
    border: 1px solid #ff4e00;
    background-color: #FF8600;
    background-repeat: repeat-x;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica;
    font-size: 20px;
    font-weight: bold;
    line-height: 41px;
}

    .btnBig:hover {
        /*background-color:#ff7901;*/
        background-color: #fb9422;
        /*border:1px solid #fa9220;*/
        background-repeat: repeat-x;
    }

.btnSmall {
    color: gray;
    margin: 0 1px;
    padding: .5px 5px;
    border-radius: 2px;
    border: none;
    background-color: #ddd;
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica;
    font-size: 12px;
    /*font-weight: bold;*/
    width: 80px;
    height: 20px;
}

    .btnSmall:hover {
        background-color: #FF8600;
        color: black;
    }

.cboBig {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ddd;
    color: #515151;
}

    .cboBig:hover {
        border: 1px solid red;
    }

.a {
    text-decoration: none;
    color: blue;
}

    .a:hover {
        color: red;
        text-decoration: solid;
    }


