body {
}
.mainframe{
    width:100%;
    border:0;
    height:500px;
}
.toolbar{
    background-color:#eee;
    border:0.5px solid #ccc;
    padding:15px;    
    border-radius:20px 20px 3px 3px;
    /*border-top-left-radius:15px;
    border-top-right-radius:15px;*/
}
.toolbar:hover{
    background-color:#fff;
    border:0.5px solid #ddd;
}
.toolbar input{
    background-color:#ccc;
    font-size:15px;
    padding:5px;
    border-radius:3px;
    border:0;
    color:gray;
    width:90px;
}
.toolbar input:hover{
    background-color:#FF8600;
    color:black;
}
.divmain{
    margin:2px 0;
    border:1px solid #ccc;
    border-radius:3px 55px 3px 55px;
    padding:15px;
    height:300px;
}
.divpop{
    padding:0 10px 10px 10px;
    border-radius:5px;
    border:1px solid #ccc;
    position:absolute;
    top:50%;
    left:50%;
    height:300px;
    width:500px;
}
.divpoptitle{
    margin:0 -10px 10px -10px;    
    padding:10px;
    border-radius:5px 5px 0 0;
    background-color:#eee;
    border-bottom:1px solid #ccc;
}
